.swiper-container.top-carousel
  .swiper-wrapper
    .swiper-slide
      .title
      = image_tag 'rug1.png'
    .swiper-slide
      .title
      = image_tag 'rug2.png'
    .swiper-slide
      .title
      = image_tag 'rug3.png'