.notification {
  .notice {
    background-color:rgba(0, 0, 0, 0.74);
    color: $white;
    text-align: center;
    z-index: 1;
  }

  .alert {
    background-color: rgb(212, 97, 117);
    color: black;
    text-align: center;
    z-index: 1;
  }
}