.recruitment{
  display: flex;
  margin-top: 10vh;
  padding: auto;
  &__content{
    background-color: #F4F3F4;
    height: 10rem;
    width: 80%;
    padding: 2rem;
    margin: 10vh auto ;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    &__box{
      display: flex;
      margin-bottom: 1rem;
      a{
        color: black;
      }
    }
    &__box2{
      margin-left: 100px;
    }
    &__title{
      font-weight: 600;
      padding-bottom: 0.5rem;
      font-size: 2rem;
    }
    &__application-btn{
      margin: auto;
      font-size: 1rem;
      padding: 10px 100px 10px 100px;
      text-align: center;
      text-decoration: none;
      background-color: rgba(25, 0, 255, 0.685);
      color: floralwhite;
      width: 40%;
      text-decoration: none;

      a{
        color: white;
      }
    }
  }
}